<div class="mt-4 container card">
    <div class="row">
        <div class="col-sm">
            <form [formGroup]="taskForm" (submit)="onSubmit()">
                <div class="formGroup">
                    <label class="font-weight-light text-center text-lg-left mt-2 mb-2">Title</label>
                    <input formControlName="title" class="form-control">
                </div>
                <div class="formGroup">
                    <label class="mt-2">Description</label>
                    <input formControlName='description' class="form-control"><br>
                </div>
                <div class="formGroup">
                    <label class="mt-2">Choose your tags</label>
                    <select2 [data]="allUniqueTags" (valueChanged)="onTagsChanged($event)"
                        [value]="selectValue" [options]="selectOptions"></select2>
                </div>
                <div class="formGroup">
                    <label class="mt-2">Deadline</label>
                    <app-date-picker [pickedDate]="task?.deadline"
                        (onDatePicked)="onDateChange($event)"></app-date-picker>
                </div>
                <button type="submit" class="btn btn-outline-success w-25 mt-2">
                    {{buttonText}}
                </button>
                <div class="mb-3 formGroup">
                    <button type="button" (click)="deleteTask()" *ngIf="task?._id" class="btn btn-danger w-25">Delete</button>
                </div>
            </form>
        </div>
        <div class="col-sm">
            <label class="mt-2">To the deadline remained:</label>
            <app-deadline-counter></app-deadline-counter>
        </div>
    </div>
</div>