<div class="card mt-4 cardContainer flex-row">
  <div class="colCard">
    <form [formGroup]="taskForm" (submit)="onSubmit()">
      <label class="font-weight-light text-center text-lg-left mt-4 mb-0">Title</label>
      <input formControlName="title"  class="form-control">
      <label>Description</label>
      <input formControlName='description'  class="form-control"><br>
      <button class="btn btn-outline-success my-2 my-sm-0 w-50">
        {{buttonText}}</button>
    </form>
    <button (click)="deleteTask()" *ngIf="updateMode" class="btn btn-danger mt-2 w-50">Delete</button>
  </div>
  <div class="colCard">
    <h3>Tags</h3>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let tag of tags; let i = index;" >
        {{tag | lowercase}}<div class="float-right btn btn-danger" (click)="deleteTag(i)"></div></li>
    </ul>
    <p>Choose tag</p>
    <select2 
      [data]="allUniqueTags"
      (valueChanged)="selectChanged($event)"  
    ></select2>
    <p>or create new one</p>
    <form [formGroup]="inputNewTag" (submit)="addNewTag()">
      <input formControlName="tag">
      <button class="btn btn-outline-success">Add</button>
    </form>
  </div>


