<div class="card mt-4 cardContainer flex-row">
    <div class="colCard container">
        <form [formGroup]="taskForm" (submit)="onSubmit()">
            <label class="font-weight-light text-center text-lg-left mt-4 mb-0">Title</label>
            <input formControlName="title" class="form-control">
            <label>Description</label>
            <input formControlName='description' class="form-control"><br>
            <button class="btn btn-outline-success my-2 my-sm-0 w-50">
                {{buttonText}}</button>
        </form>
        <button (click)="deleteTask()" *ngIf="updateMode" class="btn btn-danger mt-2 w-50">Delete</button>
    </div>
    <div class="colCard container">
        <label>Choose your tags</label>
        <select2 [data]="allUniqueTags" (valueChanged)="onTagsChanged($event)" [width]="200" [value]="selectValue"
            [options]="selectOptions"></select2>
        <label>Select deadline for your task</label>
        <app-date-picker *ngIf="fetchedData || !updateMode" [pickedDate]="taskForm.value.deadline" (onDatePicked)="onDateChange($event)"></app-date-picker>
    </div>
</div>