<div class="d-flex justify-content-center">
    <div class="card p-3 my-5 px-3">
        <form [formGroup]="loginForm" (submit)="onSubmit()" class="py-2">
            <div class="formGroup">
                <label>UserName</label>
                <input type="text" formControlName="userName" class="form-control">
            </div>
            <div *ngIf="loginForm.controls['userName'].invalid && (loginForm.controls['userName'].dirty || loginForm.controls['userName'].touched)"
                class="alert alert-warning"> Username is required</div>
            <div class="formGroup">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control">
            </div>
            <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)"
                class="alert alert-warning"> Password is required</div>
    
            <div *ngIf="submitted && !correctCredentials" class="alert alert-danger"> Incorrect username or password</div>
            <button class="btn btn-outline-success  my-1">
                Login
            </button>
            <div class="mt-1">
                <span>Need an account? </span>
                <button class="btn btn-link" (click)="goToRegister()">Register</button>
            </div>
        </form>
    </div>
</div>