<div class="d-flex flex-row bd-highlight mb-3 mt-2">
    <div class="p-2 bd-highlight border mr-2 dateElement">
        <p class="text-center">{{daysLeft}}</p>
        <p class="text-center">Days</p>
    </div>
    <div class="p-2 bd-highlight border mr-2 dateElement">
        <p class="text-center">{{hoursLeft}}</p>
        <p class="text-center">Hours</p>
    </div>
    <div class="p-2 bd-highlight border mr-2 dateElement">
        <p class="text-center">{{minutesLeft}}</p>
        <p class="text-center">Min</p>
    </div>
    <div class="p-2 bd-highlight border mr-2 dateElement">
        <p class="text-center">{{secondsLeft}}</p>
        <p class="text-center">Sec</p>
    </div>
</div>