<div class="formContainer">
    <form [formGroup]="registerForm" (submit)="onSubmit()">
        <label>
            UserName<br>
            <input type="text" formControlName="userName">
            <div *ngIf="registerForm.controls['userName'].invalid && (registerForm.controls['userName'].dirty || registerForm.controls['userName'].touched)"
                class="alert alert-warning"> Username is required</div>
            <br>
        </label>
        <label>
            Password
            <br>
            <input type="password" formControlName="password">
            <div *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)"
                class="alert alert-warning"> Password is required</div>

        </label><br>
        <div *ngIf="submitted && !correctCredentials" class="alert alert-danger">The credentials don't meet the
            requirements.</div>
        <button class="btn btn-outline-success my-4 my-sm-0">
            Register
        </button>
        <div>
            <span>Already have an account? </span><span (click)="goToLogin()">Login</span>
        </div>
    </form>
</div>